@if (countryId()){
  @if (isAValidCountry)
  {
    <div><app-header-text text={{[selectedCoutryData.country]}}></app-header-text></div>
    <div style="display: flex; align-items: center; justify-content: center;">
      <div><app-label-and-text label="Numer of JOs" text={{[selectedCoutryData.numberOfEntries]}}></app-label-and-text></div>
      <div><app-label-and-text label="Total numer of medals" text={{[selectedCoutryData.totalNumberOfMedals]}}> </app-label-and-text></div>
      <div><app-label-and-text label="Total numer of athletes" text={{[selectedCoutryData.totalNumberOfAthletes]}}></app-label-and-text></div>
    </div>
    <app-line-chart [labels]=selectedCoutryData.years [data]=selectedCoutryData.medalsPerYear></app-line-chart>

    <br/>
    <br/>
    <div class="center">
      <!--<input type="button" value="Go back" onclick="history.back()">-->
      <button routerLink=''>Go home</button>
    </div>  
  }@else{
    <p>There is no olympic data for {{countryId()}} </p>
      <div class="center">
      <!--<input type="button" value="Go back" onclick="history.back()">-->
      <button routerLink=''>Go home</button>      
      <!--<a routerLink="">Go back</a>-->
    </div>  
  }

}@else{
  <p>Bad country</p>
  <div class="center">
    <!--<input type="button" value="Go back" onclick="history.back()">-->
    <button routerLink=''>Go home</button>    
    <!--<a routerLink="">Go back</a>-->
  </div>  
}


