.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.labelGroup
{
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.graph-wrapper {
    width: 700px;
    max-width: 100%;
    height: 400px;
    margin: auto;
}