.labelAndTextBox {
  box-sizing: content-box;  
  background-color: white;
  border: 1px solid #39818D;
  color: gray;
  margin: 10px auto;
  padding: 7px 15px;
  width:fit-content;
  height: fit-content;
  border-radius: 10px;
  text-align: center;
  font-family: 'Arial';
  font-size: 16px;
  resize:both;
        span {
            color:black;
            font-weight:bold;
        }  
}