<h2>Olympic games app</h2>
<hr />
<p>{{ (olympics$ | async)?.length }} data loaded</p>



<div><app-header-text></app-header-text></div>
<div style="display: flex; align-items: center;
  justify-content: center;">
<div><app-label-and-text></app-label-and-text></div>
<div><app-label-and-text></app-label-and-text></div>
<div><app-label-and-text></app-label-and-text></div>
</div>
<app-pie-chart></app-pie-chart>

<br/>
<div><app-header-text></app-header-text></div>

<app-line-chart></app-line-chart>