<div><app-header-text text="Medals per Country"></app-header-text></div>
<div style="display: flex; align-items: center; justify-content: center;">
  <div><app-label-and-text label="Number of JOs" text= {{numberOfJOs.toString()}}></app-label-and-text></div>
  <div><app-label-and-text label="Number of countries" text= {{numberOfCountries.toString()}}></app-label-and-text></div>
</div>

<app-pie-chart [labels]=dataForCountriesPieChart.xData [data]=dataForCountriesPieChart.yData 
                (chartClicked)="showClickedCountryData($event)"></app-pie-chart>
<br/>

