.labelGroup
{
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.graph-wrapper {
    margin: auto;
    margin-left: -10px;
    width: 800px;
    max-width: 100%;
    height: auto;
    @media screen and (min-width: 576px) {
        margin-left: auto;
    }
}